#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

#unit{
  background-color: lightyellow;
}

tead th, tead td{
  border: 1px solid lightcoral;
  background-color: mistyrose;
  padding: 5px;
  width: 200px;
  text-align: center;
}


th{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 200px;
  text-align: right;
}
td{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 200px;
  text-align: right;
}


