#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
}

#unit{
  background-color: lightyellow;
  width: 50px;
}
#name{
  background-color:mistyrose;
}

thead th{
  background-color: white;
}

thead td{
  color: white;
  background-color: lightcoral;
  padding: 5px;
  width: 200px;
  text-align: center;
}


tbody th{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 200px;
  text-align: right;
}
tbodey td{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 200px;
  text-align: right;
}
